<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>

<header>
    <%- include('partials/nav.ejs') %> 
</header>

<% if (user) { %>

<div>
    <h2>Hello <span><%= user.fullName %> </span>You are welcome </h2>  
</div>
<div class="log">
    <button><a href="/">logout</a></button>
   </div>


<% }  else { %>  
<div class="log">
    <button><a href="/register">Register</a></button>
    <button><a href="/login">login</a></button>
 
    
 </div>

<% } %>  %> 


<div>
    <h1>This is the About Page</h1>
    
</div>
    

</body>
</html>