*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #96b9be;
    background-image: 
        radial-gradient(at 47% 33%, hsl(196.00, 9%, 59%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, rgb(125, 174, 184) 0, transparent 55%);
    font-size: 1.3em;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 6px 14px;
    margin: 1em 0px;
    
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 14px;
    margin: 1em 0px;
}

 button{
    padding: 5px 10px;
    border: none;
    margin: 1em ;
    border-radius: 7px;
    background-color: rgba(68, 49, 45, 0.753);
}

 button a{
    text-decoration: none;
    color: white;
}

div h1{
    text-align: center;
    color: rgb(162, 21, 228);
    font-size: 3.5em;
    margin: 4em auto 0px;
}

.btn button{
    text-align: center;
    padding: 1em;
    background-color: rgb(9, 61, 44);
    color: azure;
    font-size: 1.2em;
    margin: 1em 23em;
}